# Azure OpenAI Embeddings
AZURE_OPENAI_EMBEDDINGS_API_KEY=<your-azure-openai-embeddings-api-key>
AZURE_OPENAI_EMBEDDINGS_API_VERSION=2024-12-01-preview
AZURE_OPENAI_EMBEDDINGS_ENDPOINT=https://sinfo-2025-workshop.openai.azure.com/
AZURE_OPENAI_EMBEDDINGS_DEPLOYMENT_NAME=text-embedding-3-large
AZURE_OPENAI_EMBEDDINGS_EMBEDDING_DIMENSION=3072

# PostgreSQL
POSTGRES_CONNECTION_STRING=postgresql://postgres:mypassword@localhost:5432/documents